/*
 * Created on Thu Oct 12 2023
 * Author: Connor Doman
 */

/* This file is meant to serve as an example of CSS imports. This is not our defined style. */

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
}

.masthead {
    margin: 2rem 0;
}

.heading {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.subheading {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}
