# we need this guy
!**/resources/*.mp4

# don't commit test and temp video/image files
*.mp4
*.mkv
*.avi
*.webm
*.mov
*.png
*.jpg

# preserve front end images
!app/front-end/**/*.png
!app/front-end/**/*.jpg

# don't commit my .vscode settings folder
.vscode

# don't commit my __pycache__ folders
**/__pycache__/

# don't commit system files
.DS_Store
