# Build files
Dockerfile
.dockerignore

# Node modules
node_modules

# Logs
npm-debug.log

# Documentation
README.md

# Build outputs
.next

# git
.git
.gitignore

# Tests
__tests__
jest.*

# Database
db/
!db/schema.prisma

# Local conf
# FIXME: Uncomment when auth managers are updated
# conf/
