/* Import Patternfly into CSS, import global.css into layout.tsx 
OR import base.css directly into layout.tsx */
@import url("../../node_modules/@patternfly/react-core/dist/styles/base.css");

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --pf-global--primary-color--100: #24c6c9;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.pf-v5-c-button {
    /* Default, primary, and primary hovered button background colors */
    --pf-v5-c-button--BackgroundColor: transparent;
    --pf-v5-c-button--m-primary--BackgroundColor: var(--pf-v5-global--primary-color--100);
    --pf-v5-c-button--m-primary--hover--BackgroundColor: var(--pf-v5-global--primary-color--200);
}
