/* Import Patternfly into CSS, import global.css into layout.tsx 
OR import base.css directly into layout.tsx */
@import url("../../node_modules/@patternfly/react-core/dist/styles/base.css");

:root {
    --privacy-pal-primary-color: #24c6c9;
}

button.pf-v5-c-button.pf-m-primary {
    background-color: var(--privacy-pal-primary-color);
    font-weight: bold;
    /* border-color: var(--primary-color); */
}
